In [1]:
#creating a set
myset = {1,2,3,4,5}
print(myset)

{1, 2, 3, 4, 5}

In [2]:
myset.add(6)
print(myset)

{1, 2, 3, 4, 5, 6}

In [3]:
myset.add(6)
print(myset)

{1, 2, 3, 4, 5, 6}

In [4]:
myset.remove(3)
print(myset)

{1, 2, 4, 5, 6}

In [5]:
set1 = {1,2,3,4,5}
set2 = {3,4,5,6,7}
union = set1.union(set2)
print(union)

{1, 2, 3, 4, 5, 6, 7}

In [6]:
intersection = set1.intersection(set2)

In [7]:
print(intersection)

{3, 4, 5}

In [8]:
set3 = set1 - set2
print(set3)

{1, 2}

In [9]:
for i in myset:
    print(i)

1
2
4
5
6

In [10]:
if 3 in myset:
    print('True')

In [11]:
if 4 in myset:
    print('True')

True

In [12]:
print(set1.update(set2))

None

In [13]:
print(set1)

{1, 2, 3, 4, 5, 6, 7}